/* Style Settings */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
    --bgColor:#1C1C1C;
    --accentColor: #E6E6E6;
    --font: 'Bebas Neue', cursive;
}

body{
    background-color: var(--bgColor);
}

#userPhoto{
    width: 175px;
    height: 175px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
}

#userName{
    color: #bbb;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

/* 
#links{
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}
.link{
    display: block;
    background-color: var(--accentColor);
    color: var(--bgColor);
    font-family: var(--font);
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1rem;
    transition: all .25s cubic-bezier(.08,.59,.29,.99);
    border: solid var(--accentColor) 2px;
} */

.socialIcons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1.5rem;
  opacity: .9;
  height:28px;
}

/*
.link:hover{
    background-color: var(--bgColor);
    color: var(--accentColor);
}
*/
/* From uiverse.io by @Voxybuns */
links {
    /* Variables */
   --link_radius: 0.75em;
   --link_color: #e8e8e8;
   --link_outline_color: #000000;
   font-size: 17px;
   font-weight: bold;
   border: none;
   border-radius: var(--link_radius);
   background: var(--link_outline_color);
  }
  
  .link_top {
   display: block;
   box-sizing: border-box;
   border: 2px solid var(--link_outline_color);
   border-radius: var(--link_radius);
   padding: 0.95em 10em;
   background: var(--link_color);
   color: var(--link_outline_color);
   transform: translateY(-0.2em);
   transition: transform 0.1s ease;
  }
  
  link:hover -link_top {
    /* Pull the-link upwards when hovered */
   transform: translateY(-0.33em);
  }
  
  link:active -link_top {
    /* Push the-link downwards when pressed */
   transform: translateY(0);
  }